@{
    ViewBag.Title = "Visualizar Reporte";
}

<h2>Visualizar Reporte</h2>
<iframe src="@ViewBag.ReportUrl"
        style="width: 100%; height: 600px;"
        frameborder="0">
    Este navegador no soporta iframes.
</iframe>

@if (!string.IsNullOrEmpty(ViewBag.ReportUrl))
{
    <p>Dentro del if</p>
    <iframe src="@ViewBag.ReportUrl" width="100%" height="600px"></iframe>
}
else
{
    <p>No se pudo cargar el reporte.</p>
}